---
import { getCollection } from 'astro:content'
import { sortPostsByDate } from '@lib/date'
import Link from '@components/Link.vue'
import Base from '@layouts/Base.astro'
import Project from '@components/Project.astro'
import PostRow from '@components/PostRow.astro'
import { getProjects } from '@lib/projects'
import ArrowLink from '@components/ArrowLink.vue'

const projects = await getProjects()
const posts = sortPostsByDate(
  await getCollection('posts', ({ data }) => data.isDraft !== true),
).slice(0, 4)

const title = 'Ved Kothavade';
---

<Base {title} description="Ved Kothavade's personal website">
  <h1 slot="header-content" class="font text-xl mt-24 md:mt-48 text-neutral-100">Ved Kothavade</h1>

  <main class="prose slide-enter-content pt-10 md:pt-24">
    <p>
      Hi, I'm Ved. I'm passionate about building things <strong
        >that make a difference</strong
      >.
    </p>
    <p class="text-balance">
      I'm a <strong>CS & Linguistics</strong> student at the University of Maryland, College
      Park. My interests include distributed systems, programming languages, and
      natural language proccesing.
    </p>
    <p>
      In past summers, I've worked as a software engineering intern at <Link href="https://www.bloomberg.com/">
        Bloomberg L.P.
      </Link>
       and <Link href="https://www.bgcg.com/">BGC Group</Link>.
    </p>
    <p>If you'd like to contact me, you can find links in the footer.</p>

    <h2 class="header">
      Projects
      <span class="ml-1 text-sm text-neutral-500 font-normal">
        <ArrowLink href="/gh">view all on github</ArrowLink>
      </span>
    </h2>
    <div class="grid gap-4 grid-cols-2 md:grid-cols-3">
      {projects.map(project => <Project {project} />)}
    </div>

    <h2 class="header">Posts
      <span class="ml-1 text-sm text-neutral-500 font-normal">
        <ArrowLink href="/posts">all posts</ArrowLink>
      </span>
    </h2>
    <div class="flex flex-col mb-4">
      {posts.map(post => <PostRow {post} />)}
    </div>
  </main>
</Base>

<style>
  .header {
    @apply mt-12 mb-2! font-normal!
  }
</style>
