---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '@lib/date'
import Link from './Link.vue'

type Props = {
  post: CollectionEntry<'posts'>
}

const {
  post: {
    data: { title, date },
    slug,
  },
} = Astro.props;
---
<Link href={`/posts/${slug}`} hideUnderline>
  <article class="flex justify-between hover:bg-neutral-800 p-2 rounded duration-200">
    <span>{title}</span>
    <span>{formatDate(date)}</span>
  </article>
</Link>
